<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WxSimpleConfig - Sections</title>
</head>
<body>
<h1>WxSimpleConfig - Sections</h1>
<table>
%loop sections%
<tr>
<td>
<a href="/invoke/wx.simpleConfig.globalVariables.genericContent.skv.web/viewSingleSection?section=%value sections%">%value sections%</a>
</td>
</tr>
%endloop%
</table>
</body>
</html>